/*-- scss:defaults --*/

/* lato-regular - latin-ext_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/lato-v23-latin-ext_latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('./fonts/lato-v23-latin-ext_latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-italic - latin-ext_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/lato-v23-latin-ext_latin-italic.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('./fonts/lato-v23-latin-ext_latin-italic.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin-ext_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/lato-v23-latin-ext_latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('./fonts/lato-v23-latin-ext_latin-700.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700italic - latin-ext_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url('./fonts/lato-v23-latin-ext_latin-700italic.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('./fonts/lato-v23-latin-ext_latin-700italic.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$font-size-root: 'Lato';
$font-family-sans-serif: 'Lato';
$font-family-monospace: 'Lato';
$bs-body-font-family: 'Lato';